<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1>
    Welcome to {{ title }}!
  </h1>

  <button (click)="createCampaign()">Create Campaign</button>

  <mat-card *ngFor="let campaign of campaigns;let i=index">
    {{i+1}} {{campaign}}

    <mat-card-subtitle>fdsfdsfds</mat-card-subtitle>

    <section class="example-section">
      <mat-checkbox class="example-margin">Check me!</mat-checkbox>
      <mat-checkbox class="example-margin" [disabled]="true"
        >Disabled</mat-checkbox
      >
    </section>
  </mat-card>
</div>
