<div>
  <h1>
    Campaign Creations
  </h1>

  <p-button label="Create Campaign" (click)="createCampaign()"></p-button>

  <p>Campaigns</p>
  <div class="row">
    <div class="col-12">
      <div class="m-5">
        <p-card
          styleClass="p-card-shadow"
          *ngFor="let campaign of campaigns;let i=index"
        >
          <strong>{{i+1}})</strong> {{campaign}}
          <ng-template pTemplate="footer">
            <p-button
              (onClick)="viewCampaign(campaign)"
              label="View Campaign"
              styleClass="p-button-secondary"
            ></p-button>
          </ng-template>
        </p-card>
      </div>
    </div>
  </div>
</div>
